/test/localClusterData/
/data/
/local/
/start-local
/startup-scripts/aws/quantastream-aws.env
/tpc-h-benchmark/local/logs/
/tpc-h-benchmark/local/data/
/tpc-h-benchmark/local/ingest-benchmarks/
/tpc-h-benchmark/local/profile-reports/
/tpc-h-benchmark/local/standard-data*/
/sqlrunner/expected/local/
/sqlrunner/expected/generated/
/sqlrunner/expected/*.local.yaml
